name: Test

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'docs/**'
  workflow_call:


concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        numpy: numpy
        include:
          - python-version: "3.9"
            numpy: numpy==1.22.0
          - python-version: "3.10"
            numpy: numpy==1.22.0
          - python-version: "3.11"
            numpy: numpy==1.23.2
          - python-version: "3.12"
            numpy: numpy==1.26.0
          - python-version: "3.13"
            numpy: numpy==2.1.0
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Setup uv
        uses: astral-sh/setup-uv@v3
      - name: Install Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}
      - name: Pre-commit
        run: |
          uv run --extra dev --with ${{ matrix.numpy }} pre-commit run --all-files
      - name: Pytest
        run: |
          uv run --extra dev --with ${{ matrix.numpy }} pytest -Werror --cov --cov-report term-missing --cov-fail-under=100
